*.class
*.war
*.jar
/weliveplayer-mobile/.brackets.json
weliveplayer-mobile/.bowerrc
weliveplayer-mobile/.editorconfig
weliveplayer-mobile/.settings/.jsdtscope
weliveplayer-mobile/.tern-project
weliveplayer-web/.classpath
weliveplayer-web/.project
weliveplayer-web/.settings/*
weliveplayer-web/target/*


*.ts
*.project
