*.class
*.war
*.jar
/weliveplayer-mobile/.brackets.json
weliveplayer-mobile/.bowerrc
weliveplayer-mobile/.editorconfig
*.project
weliveplayer-mobile/.settings/.jsdtscope
weliveplayer-mobile/.tern-project
*.ts
