<ion-view>
    <ion-nav-title>{{name}}</ion-nav-title>
    <ion-content class="padding has-footer">
        <h4>{{ 'lbl_comment' | translate }}</h4>
        <ion-list>
            <ion-item ng-repeat="userReview in userReviews" class="comments" ng-click="">
                <!--<img ng-src="img/ionic.png">-->
                <div>{{ userReview.authorNode }}</div>
                <div>{{ userReview.publishDate.slice(0,userReview.publishDate.lastIndexOf(":")) }}</div>
                <div>{{ userReview.comment }}</div>
            </ion-item>
            <ion-infinite-scroll ng-if="moreReviewsPossible" on-infinite="loadMoreReviews()" distance="5%">
            </ion-infinite-scroll>
        </ion-list>
    </ion-content>
    <div class="bar bar-footer">
        <div class="button-bar">
            <button class="button button-icon ion-ios-information" ng-class="{'active' : selection == 'info'}" ng-click="info()" />
            <button class="button button-icon" ng-class="{'ion-archive' : appInstallStatus == 'download', 'ion-forward': appInstallStatus == 'forward' }"
            ng-click="download()"></button>
            <button class="button button-icon ion-ios-chatboxes" ng-class="{'active' : selection == 'userComment'}" ng-click="showAppComments(id, city)"
            />
        </div>
    </div>
</ion-view>