<ion-view title={{name}}>
	<ion-content>
		<img ng-src="img/ionic.png">  {{city}}</img>
		<h4>Descrizione</h4>
		<p>La applicazione che promuove la mobilita urbana sostenibile a Trento. Pianifica i tuoi viaggio con il mezzo che preferisci, mezzi pubblici, bicicletta, auto o a piedi e monitora i tuoi itinerari per essere sempre aggiornato su eventuali ritardi. Gli orari degli autobus e la disponibilita dei parcheggi sono a portata di mano con aggiornamenti in tempo reale e segnalazioni su eventuali ritardi fatte dagli utenti stessi.</p>
		</ion-content>
		<div class="bar bar-footer">

			<button class="button button-clear" ng-click="showPopup()">INFO</button>
			<button class="button button-clear" ng-click="showPopup()">DOWNLOAD</button>
			<button class="button button-clear" ng-click="showPopup()">SHARE</button>

		</div>

	</ion-view>