<ion-view>
    <ion-nav-title>{{app.name}}</ion-nav-title>
    <ion-content class="padding">
        <div class="padding">
            <div class="row">
                <img ng-src="{{ app.linkImage }}" width="80" height="80">
                <div class="col col-center app-header">
                    <div>{{ app.city }}</div>
                    <div class="rating-avg-star">
                        <span>
                    <i ng-repeat="starType in stars track by $index" class="icon icon-rating" ng-class="{'ion-android-star': starType == 'full', 'ion-android-star-half': starType == 'half', 'ion-android-star-outline': starType == 'empty'}"></i>
                </span>
                    </div>
                </div>
            </div>
            <i class="button button-icon ion-pricetags" ng-click=""> {{app.tags}}</i>
            <h4>{{ 'lbl_description' | translate}}</h4>
            <p ng-bind-html="app.description"></p>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <div class="button-bar">
            <button class="button button-icon ion-ios-information" ng-class="{'active' : selection =='info'}" ng-click="info()"></button>
            <button class="button button-icon" ng-class="{'ion-archive' : appInstallStatus == 'download', 'ion-forward': appInstallStatus == 'forward' }" ng-click="download()"></button>
            <button class="button button-icon ion-ios-chatboxes" ng-class="{'active' : selection == 'userComment'}" ng-click="showAppComments()"></button>
        </div>
    </div>
</ion-view>