<ion-view title="{{ 'app_name' | translate }}">
    <ion-content class="padding">
        <div>
            <div class="list">    
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <i class="icon placeholder-icon" ></i>
                        <input type="search" placeholder="{{'lbl_search' | translate}}" ng-model="formData.searchString" >
                    </label>
                    <a class="button button-icon ion-android-search" ng-click="doSearch()"></a>
                </div>
            </div>
            <div class="text-center" ng-if="!!searchApps && searchApps.length == 0">
                <h4>{{'no_apps' | translate}}</h4>
            </div>
            <ion-list>
                <ion-item ng-repeat="searchApp in searchApps" class="app-item item-thumbnail-left" ng-class="{'active': searchApp.active}" ng-click="showAppDetails(searchApp.id, searchApp.city)">
                    <img ng-src="{{searchApp.linkImage}}">
                    <h4>{{ searchApp.city }}</h4>
                    <h2>{{ searchApp.name }}</h2>
                    <div class="rating-avg-star">
                        <span>
                    <i ng-repeat="starType in getStars(searchApp.rating) track by $index" class="icon icon-rating" ng-class="{'ion-android-star': starType == 'full', 'ion-android-star-half': starType == 'half', 'ion-android-star-outline': starType == 'empty'}"></i>
                    </span>
                    </div>
                </ion-item>
            </ion-list>
        </div>
    </ion-content>
</ion-view>