<ion-view title="WeLivePlayer">
	
	<ion-nav-buttons side="right">
        <a href="#" class="button button-icon ion-android-search padding-left" ng-click=""></a>
        <button class="button button-icon ion-settings" ng-click="showPopup()"></button>
    </ion-nav-buttons>
    
    <ion-content>
 	   <div class="padding" ng-if="!!items && items.length == 0">
            <h4>no apps found</h4>
     </div>
 	  <ion-list>
        <ion-item ng-repeat="item in items" 
                  class="item-thumbnail-left" ng-class="{'active': item.active}" ng-click="showAppDetails(item.id)">
          <img ng-src="img/ionic.png">
          <h4>{{ item.city }}</h4>
          <h2>{{ item.name }}</h2>
        </ion-item>
      </ion-list>
  </ion-content>

  <div class="bar bar-footer">
  		<button class="button button-clear" ng-class="{'active' : selections.indexOf('trento') >= 0}" ng-click="selectApps('trento')">TRENTO</button>
  		<button class="button button-clear" ng-class="{'active' : selections.indexOf('rovereto') >= 0}" ng-click="selectApps('rovereto')">ROVERETO</button>
  		<button class="button button-clear" ng-class="{'active' : selections.indexOf('novisad') >= 0}" ng-click="selectApps('novisad')">NOVISAD</button>
  		<button class="button button-clear" ng-class="{'active' : selections.indexOf('helsinki') >= 0}" ng-click="selectApps('helsinki')">HELSINKI REGION</button>
  </div>
  
</ion-view>