<ion-view title="{{ 'app_name' | translate }}">

    <ion-nav-buttons side="right">
        <a href="#" class="button button-icon ion-android-search padding-left" ng-click="showSearchInput()"></a>
        <button class="button button-icon ion-android-funnel" ng-click="showPopup()"></button>
    </ion-nav-buttons>

    <ion-content class="padding has-footer">
        <ion-refresher on-refresh="doRefresh()">
        </ion-refresher>
        <div class="text-center" ng-if="!!items && items.length == 0 && selections.length == 0">
            <h4>{{'no_apps_no_selection' | translate}}</h4>
        </div>
        <div class="text-center" ng-if="!!items && items.length == 0 && selections.length > 0">
            <h4>{{'no_apps' | translate}}</h4>
        </div>
        <ion-list>
            <ion-item ng-repeat="item in items" class="app-item item-thumbnail-left" ng-click="showAppDetails(item.id, item.city)">
                <img ng-src="{{ item.linkImage}}">
                <h4>{{ item.city }}</h4>
                <h2>{{ item.name }}</h2>
                <div class="rating-avg-star">
                    <span>
                   <i ng-repeat="starType in getStars(item.rating) track by $index" class="icon icon-rating" ng-class="{'ion-android-star': starType == 'full', 'ion-android-star-half': starType == 'half', 'ion-android-star-outline': starType == 'empty'}"></i>
                </span>
                </div>
                <i ng-if="item.recommendation" class="icon-recomm icon ion-person" ng-click=""></i>
                <div ng-if="item.recommendation" class="text-recomm">{{'lbl_home_recommended' | translate}}</div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll ng-if="moreAppsPossible" on-infinite="loadMoreApps()" distance="5%">
        </ion-infinite-scroll>
    </ion-content>

    <div class="bar bar-footer">
        <div class="button-bar">
            <button class="button button-clear" ng-class="{'pressed' : selections.indexOf(pilotIds[0]) >= 0}" ng-click="selectApps(pilotIds[0])">{{pilotIds[0].toUpperCase()}}</button>
            <button class="button button-clear" ng-class="{'pressed' : selections.indexOf(pilotIds[1]) >= 0}" ng-click="selectApps(pilotIds[1])">{{pilotIds[1].toUpperCase()}}</button>
            <button class="button button-clear" ng-class="{'pressed' : selections.indexOf(pilotIds[2]) >= 0}" ng-click="selectApps(pilotIds[2])">{{pilotIds[2].toUpperCase()}}</button>
            <button class="button button-clear" ng-class="{'pressed' : selections.indexOf(pilotIds[3]) >= 0}" ng-click="selectApps(pilotIds[3])">{{pilotIds[3].toUpperCase()}}</button>
            <div>
            </div>

</ion-view>