<ion-view title="<b>{{'menu_profile'| translate}}</b>">
    <ion-content>
        <div>
            <h6><b>{{'lbl_name'| translate}}:</b></h6>
            <h6>{{profile.name}}</h6></div>
        <div>
            <h6><b>{{'lbl_surname'| translate}}:</b></h6>
            <h6>{{profile.surname}}</h6></div>
        <div>
            <h6><b>{{'lbl_gender'| translate}}:</b></h6>
            <h6>{{profile.gender}}</h6></div>
        <div>
            <h6><b>{{'lbl_dob'| translate}}:</b></h6>
            <h6>{{profile.dob}}</h6></div>
        <div>
            <h6><b>{{'lbl_addr'| translate}}:</b></h6>
            <h6>{{profile.addr}}</h6></div>
        <div>
            <h6><b>{{'lbl_pilotId'| translate}}:</b></h6>
            <h6>{{profile.city}}</h6></div>
        <div>
            <h6><b>{{'lbl_city'| translate}}:</b></h6>
            <h6>{{profile.city}}</h6></div>
        <div>
            <h6><b>{{'lbl_country'| translate}}:</b></h6>
            <h6>{{profile.country}}</h6></div>
        <div>
            <h6><b>{{'lbl_zipcode'| translate}}:</b></h6>
            <h6>{{profile.zipcode}}</h6></div>
        <div>
            <h6><b>{{'lbl_email'| translate}}:</b></h6>
            <h6>{{profile.email}}</h6></div>
        <div>
            <h6><b>{{'lbl_languages'| translate}}:</b></h6>
            <h6>{{profile.languages}}</h6></div>
        <div>
            <h6><b>{{'lbl_isDeveloper'| translate}}:</b></h6>
            <h6>{{profile.isDeveloper}}</h6></div>
        <div>
            <h6><b>{{'lbl_skills'| translate}}:</b></h6>
            <h6>{{profile.skills}}</h6></div>
        <div>
            <h6><b>{{'lbl_usedApps'| translate}}:</b></h6>
            <h6>{{profile.userApps}}</h6></div>
        <div>
            <h6><b>{{'lbl_profileData'| translate}}:</b></h6>
            <h6>{{profile.profileData}}</h6></div>
        <div>
            <h6><b>{{'lbl_lastLoc'| translate}}:</b></h6>
            <h6>{{profile.lastloc}}</h6></div>
    </ion-content>
</ion-view>