<ion-view>
    <ion-nav-title>{{'menu_profile'| translate}}</ion-nav-title>
    <ion-nav-buttons side="right">
        <a href="#" class="button button-icon ion-edit padding-left" ng-show="cdvProfile == 'exist'" ng-click="editProfile()"></a>
        <a href="#" class="button button-icon ion-checkmark padding-left" ng-show="cdvProfile == 'edit'" ng-click="saveProfile(profile)"></a>
    </ion-nav-buttons>

    <ion-content class="padding">
        <ion-refresher on-refresh="doRefresh()"></ion-refresher>
        <div class="padding profile" ng-show="cdvProfile == 'exist'">
            <div class="row">
                <div class="col">{{'lbl_name'| translate}}</div>
                <div class="col">{{profile.name}} {{profile.surname}}</div>
            </div>
            <div class="row">
                <div class="col">{{'lbl_gender'| translate}}:</div>
                <div class="col">{{profile.gender}}</div>
            </div>
            <div class="row">
                <div class="col">{{'lbl_dob'| translate}}:</div>
                <div class="col">{{profile.birthdate|date:'dd/MM/yyyy'}}</div>
            </div>
            <div class="row">
                <div class="col">{{'lbl_addr'| translate}}:</div>
                <div class="col">{{profile.address}} {{profile.city}} {{profile.zipCode}} {{profile.country}}</div>
            </div>
            <div class="row">
                <div class="col">{{'lbl_pilotId'| translate}}:</div>
                <div class="col">{{profile.referredPilot | translate}}</div>
            </div>
            <div class="row">
                <div class="col">{{'lbl_email'| translate}}:</div>
                <div class="col">{{profile.email}}</div>
            </div>
            <div class="row">
                <div class="col">{{'lbl_languages'| translate}}:</div>
                <div class="col"><span ng-repeat="lang in profile.languages">{{lang | translate}}&nbsp;</span></div>
            </div>
            <div class="row" ng-if="profile.developer">
                <div class="col">{{'lbl_isDeveloper'| translate}}:</div>
              <div class="col" ><i class="icon ion-checkmark"></i></div>
            </div>
            <div class="row">
                <div class="col">{{'lbl_skills'| translate}}:</div>
                <div class="col">{{profile.skills.join(", ")}}</div>
            </div>
            <div class="row">
                <div class="col">{{'lbl_userTags'| translate}}:</div>
                <div class="col">{{profile.userTags.join(", ")}}</div>
            </div>
        </div>

        <!-- EDIT --->
        <div class="padding profile-edit" ng-show="cdvProfile == 'edit'">
            <div class="row">
                <div class="col">{{'lbl_dob'| translate}}:</div>
                <div class="col">
                    <!--<input style="height: inherit;" type="tel" placeholder="{{birthdateplaceholder}}" ng-model="profile.birthdate">-->
                    <div style="width:100%;" ng-click="initPicker()">{{profile.birthdate|date:'dd/MM/yyyy'}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col">{{'lbl_addr'| translate}}:</div>
                <div class="col">
                    <input style="height: inherit;" type="text" placeholder="{{profile.address}}" ng-model="profile.address">
                </div>
            </div>
            <!--<div class="row">
                <div class="col">{{'lbl_pilotId'| translate}}:</div>
                <div class="col">
                    <input style="height: inherit;" type="text" placeholder="{{profile.referredPilot}}" ng-model="profile.referredPilot">
                </div>
            </div>-->
            <div class="row">
                <div class="col">{{'lbl_city'| translate}}:</div>
                <div class="col">
                    <input style="height: inherit;" type="text" placeholder="{{profile.city}}" ng-model="profile.city">
                </div>
            </div>
            <div class="row">
                <div class="col">{{'lbl_country'| translate}}:</div>
                <div class="col">
                    <input style="height: inherit;" type="text" placeholder="{{profile.country}}" ng-model="profile.country">
                </div>
            </div>
            <div class="row">
                <div class="col">{{'lbl_zipcode'| translate}}:</div>
                <div class="col">
                    <input style="height: inherit;" type="text" placeholder="{{profile.zipcode}}" ng-model="profile.zipCode">
                </div>
            </div>
            <div class="row">
                <div class="col">{{'lbl_userTags'| translate}}:</div>
                <div class="col">
                    <input style="height: inherit;" type="text" placeholder="tag1,tag2" ng-model="profile.userTags">
                </div>
            </div>
            <div class="row">
              <div class="col">
                {{'lbl_languages'| translate}}:
                <ion-checkbox ng-repeat="(lang, state) in languages" ng-model="state.checked">{{lang | translate}}</ion-checkbox>
              </div>
<!--                    <textarea rows="5" cols="50" style="height: inherit;" placeholder="{{profile.languages.join(', ')}}" ng-model="profile.languages"></textarea>-->
            </div>
            <!--<div class="row">
                <div class="col">{{'lbl_isDeveloper'| translate}}:</div>
                <div class="col">
                    <input style="height: inherit;" type="checkbox" ng-model="profile.developer">
                </div>
            </div>-->
            <!--<div class="row">
                <div class="col profile-edit-toggle"></div>
                toggle-class="toggle-small"
                <div class="col">{{'lbl_skills'| translate}}:</div>
                <div class="col">
                    <input type="text" placeholder="{{profile.skills.join()}}" ng-model="profile.skills">
                </div>
            </div>-->
            <!--<br>
            <br>
            <div style="text-align: center;">
                <button style="font-size: 16px;" ng-click="saveProfile(profile)">
                    {{'lbl_save' | translate}}
                </button>
            </div>-->
        </div>
        </div>

    </ion-content>
</ion-view>
