/* weliveplayer style */

/* Bar */

.weliveplayer-theme .bar {
    background-color: #f92c37;
    border-color: #f92c37;
    color: #FFFFFF;
}

.weliveplayer-theme .bar.bar-footer {
    background-color: #CCCCCC;
    border: 0;
    padding: 0;
}

.weliveplayer-theme .bar.bar-footer .button {
  color: #6E6E6E;
  font-size: 12px;
  font-weight: 500;
  border-left: 1px solid #6E6E6E;
  white-space: normal;
  line-height: 14px;
}
.weliveplayer-theme .bar.bar-footer .button.pressed,.weliveplayer-theme .bar.bar-footer .button.active {
  color: red;
  font-weight: bold;
  opacity: 1;
}
.weliveplayer-theme .bar.bar-footer .button:first-child {
  border-left: 0;
}


.weliveplayer-theme .bar .button {
/*    border-color: #010101;*/
/*	background-color: #cccccc;*/
    color: #FFFFFF;	
}

/* Menu */

.weliveplayer-theme .menu,
.weliveplayer-theme .menu .item,
.weliveplayer-theme .menu .item .item-content {
    background-color: #b5c000;
}
.weliveplayer-theme .menu .item {
    border-color: #b5c000;
    color: #FFFFFF;
}
.weliveplayer-theme .menu .item .item-content.activated {
    color: #BCC0E7;
}
.weliveplayer-theme .menu .item .item-content .icon:before {
    padding-right: 1em;
    font-size: 2em;
    vertical-align: middle;
}

.weliveplayer-theme .menu .item h2 {
    position: absolute;
    top: 40%;
    left: 20%;
    color: #FFFFFF;
}

.app-item .rating-avg-star {
    position: absolute;
    bottom: 8px;
    right: 8px;
}
.rating-avg-star {
    font-size: 25px;
    color: #000;
}
.rating-avg-star span {
    white-space: nowrap;
}
.rating-avg-star span i {
    margin-left: 2px;
}

.app-item {
  border: 0;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.app-item:first-child {
  margin-top: 0;
}

.app-item-recomm {
  border: 2px solid #B5C000;
}

.icon-recomm {
  color: #B5C000;
  position: absolute;
  top: 4px;
  right: 8px;
}

.text-recomm {
  color: #B5C000;
  position: absolute;
  top: 4px;
  right: 22px;
  font-size: 12px;
}

.item-radio {
  border: 0;
  /*font-style: italic;*/
}
.item-radio .radio-content > div {
  padding: 8px 16px;
  font-weight: bold;
}

.item-radio .radio-content .radio-icon {
  padding: 0 16px;
}

.item-content {
  background: transparent !important;
}

.popup {
  background: #fff !important;
}

.popup-buttons {
  float: right;
}

.welive-popup-button {
  background: transparent;
  color: #55B2EA;
  font-weight: bold;

}
.app-header {
  margin-left: 16px;
}
.app-header div:first-child{
  margin-bottom: 16px;
}

.profile .row .col:nth-child(1){
    font-weight: bold;
}

.profile-edit .row .col:nth-child(2) {
     border-bottom: 1px solid #000;
}

.comments :nth-child(2) {
    font-size: 16px;
    font-weight: bold;
}

.comments :nth-child(3) {
    font-size: 14px;
}

.comments :nth-child(4) {
    font-size: 16px;
}

.popup-title {
    font-size: 16px;
    font-weight: bold;
}

.credits_title {
    text-align: center;
    color: #2975a7;
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.credits_row.version .col {
    font-size: 12px;
    line-height: 12px;
}

.credits_row.version {
    color: #aaa;
}

.credits_version {
    text-align: center;
}

/** TERMS AND CONDITIONS. **/

.terms div {
  padding: 5px;
  text-align: justify;
}

/*.terms div.help_title {
  font-weight: bold;
  font-size: 14px;
  text-align: center
}*/

/*.terms div.policy_text p.tool_tit {
  font-size: 14px;
}*/

.terms div.help_title{ 
    /*font-size: 20px;*/
    font-weight: bold;
    margin-bottom: 1em;
    margin-left: 5%;
    /*margin-top: 1em;*/
    /*margin-top:60px;*/
    text-align: center;
    width: 90%;}    
    
.terms div.start_title{ font-size: 45px;
    font-weight: bold;
    margin-left: 5%;
    margin-top: 2em;
    text-align: center;
    width: 90%;}  
    
.terms div.start_subtitle{ font-size: 20px;
    font-weight: bold;
    margin-bottom: 1.8em;
    margin-left: 5%;
    margin-top: 2em;
    text-align: center;
    width: 90%;}   
 
.terms div.tips{ line-height: 24px;
    margin-bottom: 1em;
    margin-left: 5%;
    text-align: center;
    width: 90%;}

.terms div.tool_title{font-weight:bold; margin-bottom:10px;}
.terms div.tool_desc{font-size: 13px; line-height: 18px;}
.terms div.help_icon{ float:left;width:20%; text-align:center;}
.terms div.help_text{ float:left; width:77%;}
.terms div.policy_text.policy_text{float:left; width:98%; }
.terms div.policy_text.policy_text p {margin-bottom:10px; text-align:justify;}
.terms div.policy_text.policy_text ul li {font-size:11px; margin-bottom:5px;}
